* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --color0:black;
    --color1: white;
    --color2: gold;
    --color3: lightgrey;
    --paddinggrande: 10px;
    --paddingmedio: 5px;
    --margenentresecciones: 3px;
    --margenesdentrodeseccion: 5px;
    --anchotituloseccion: 40vw;
    --fontgrande: xx-large;
    --fontmediana: x-large;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* ======= Navbar ======= */
header {
    background-color: var(--color1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.navbar__links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar__links a {
    display: inline-block;
    padding: 2rem 1rem 0.5rem;
    text-decoration: none;
    color: var(--color0);
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.4s ease-in-out;
}

.navbar__links a:hover {
    background-color: var(--color2);
}
/* ====== Fin Navbar ====== */

/* ====== Hero ====== */
.hero-section {
    /* Se le resta la altura del nav */
    width: 60%;
    height: calc(100vh - 59px);
    /* height: 100vh; */
    background-image: url(https://images.unsplash.com/photo-1508973379184-7517410fb0bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* bottom: 1.5rem; */
    display: flex;
    align-items: flex-end;
    /* z-index: 10; */
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.8494748241093313) 0%, rgba(60,60,60,0.4209033955379027) 57%, rgba(255,255,255,0) 100%);
}

.hero-section div{
    position: absolute;
    top: 150px;
    right: -30px;
    width: 30%;
    height: 1.5rem;
    background-color: var(--color2);

}

.hero-section h1 {
    z-index: 10;
    margin: 0 0 5rem 5rem;
}

.h1__span {
    display: block;
}

.h1__span.primero {
    font-size: xx-large;
    color: var(--color1);
}

.h1__span.segundo {
    font-size: x-large;
    color: var(--color2);
}


/* ==== Fin Hero === */

main {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    color: black;
    flex-direction: column;
    align-content: center;
}

.contenedor {
    padding-block: 2.5rem;
}

.contenedorseccion__tituloseccion {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.subtitulo {
    margin-inline: 5rem;
    padding-block: 2rem;
    font-size: 3rem;
    color: var(--color1);
    z-index: 100;
}

.subtitulo > span {
    display: block;
    font-size: 4.5rem;
    font-weight: bolder;

}

.contenedorseccion__tituloseccion div {
    
    flex-basis: 65%;
    /* flex-grow: 1; */
    background-color: var(--color2);
}

.contenedorseccion__tituloseccion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(8,8,8,0.9251050762101716) 6%, rgba(0,0,0,0.5889706224286589) 25%, rgba(255,255,255,0) 60%);
}

h2 {
    font-size: var(--fontmediana);
}

h3 {
    font-size: var(--fontgrande);
}

h4, .tituloIntegrante {
    font-size: var(--fontmediana);
    color: var(--color0);
}

.contenedorseccion__contenidoprincipal {
    width: 85%;
    margin: 0 auto;
}

/* ======= QUIENES SOMOS ======== */
.quienessomos__integrantesbl__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem auto;
    max-width: 70vw;
    gap: 1.5rem;
    /* Podemos meter el background img de cada integrante con un búcle en js para que si quieren cambiar las fotos las cambien sólo en un array */
}

/* Template para las cards */
.integrantesbl__card {
    width: 20vw;
    height: 25vw;
    position: relative;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.integrantesbl__card:hover {
    box-shadow: 15px 13px 33px -4px rgba(0,0,0,0.4);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tituloIntegrante {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color1);
    text-align: center;
    background-color: var(--color2);
    width: 100%;
    padding-block: 0.5rem;
}

.tituloIntegrante small {
    display: block;
}

.integrantesbl__card--contenido .card__icon {
    font-size: 4.5rem;
    color: var(--color1);
}

.integrantesbl__card--contenido {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(42, 43, 43, 0.6);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   transform: translateX(-100%);
   transition: all 0.7s ease-in-out;
}

.integrantesbl__card:hover .integrantesbl__card--contenido{
   transform: translateX(0);
}


/* ===== FIN QUIENES SOMOS ====== */


/* ======== GALERÍA ======= */
.galeria__fotos__contenedor, .galeria__vidoes__contenedor {
    margin: 1rem 0 2.5rem;
}

.galeria__fotos__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.galeria__fotos__contenedor img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.galeria__fotos__contenedor img:hover {
    transform: scale(1.03);
}

.galeria__vidoes__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galeria__vidoes__contenedor iframe {
    width: 35vw;
    margin: 20px;
}
/* ======== FIN GALERÍA ======= */
.contenedorseccion__contenidoprincipal--contacto {
    margin-bottom: 2rem;
}

.formulariocontacto__contenedor {
    width: 70%;
    margin-inline: auto;
    background-color: var(--color3);
    padding: 5rem 2rem;
}

.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form label {
    font-weight: bold;
    margin-bottom: var(--paddingmedio);
}

.form input, .form textarea {
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.form textarea {
    resize: none;
}

.form button {
    font-weight: bold;
    align-self: center;
    padding: 0.7rem 3.5rem;
    border: none;
    border-radius: 20px;
    background-color: var(--color2);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.form button:hover {
    transform: scale(1.05);
    box-shadow: 10px 6px 26px -8px rgba(0,0,0,0.4);
}


footer {
    padding: 2rem;
    background-color: var(--color0);
}

footer h4 {
    color: white;
    text-align: center;
    padding-top: 5px;
}

.contenedor__redes {    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 1.3rem;
}

.fa-brands {
    font-size: 1.8rem;
    color: var(--color1);
    transition: transform 0.4s ease;
}

.fa-brands:hover {
    transform: scale(1.2);
}